*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
body{
    background-image: url(../img/img1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    cursor: pointer;
}
.container{
    margin: auto;
    width: 1000px;
    display: flex;
    flex-direction: column;
}
h1{
    margin-top: 50px;
    text-align: center;
    color: white;
}
.mainblock{
    margin: auto;
    width: 800px;
    background-color: rgb(45, 206, 435);
    padding: 50px 80px;
    opacity: 0.9;    
    box-shadow: 0 0 30px rgb(236, 233, 237);
    margin-top: 40px;
}
.mainblock div{
    display: grid;
    grid-template-columns: 3fr 1fr 1fr;
    gap: 20px;
}
.textIn{
    height: 30px;
    text-align: center;
    border: none;
    outline: none;
}
input{
    border: none;
    outline: none;
    color: rgb(89, 158, 233);
}
#addBtn{
    border: none;
    background-color: rgb(255, 255, 255);
    color: rgb(103, 103, 210);
    outline: none;
}
ul{
    list-style: none;
    margin-top: 15px;
}
li{
    color: white;
}
.btn{
    width: 26px;
    height: 26px;
}
.taskItem{
    display: grid;
    grid-template-columns: 3fr  1fr 1fr;
    margin-top: 12px;
}
.done{
    text-decoration: line-through;
}
.img{
    width: 300px;
}
